<div class="row">
  <div class="col-md-4 login-sec root">
    <h2 class="text-center">Login Now</h2>
    <form (ngSubmit)="login()" [formGroup]="loginGroup" class="login-form">
      <div class="form-group">
        <label class="text-uppercase">Username</label>
        <input formControlName="username"  type="text" class="form-control" placeholder="">

      </div>
      <div class="form-group">
        <label class="text-uppercase">Password</label>
        <input formControlName="password"  type="password" class="form-control" placeholder="">
      </div>


      <div class="form-check">
        <label class="form-check-label">
          <input formControlName="remember" type="checkbox" class="form-check-input">
          <small>Remember Me</small>
        </label>
        <button type="submit" class="btn btn-login float-right">Submit</button>
      </div>

    </form>
  </div>
  <ngb-carousel class="col-md-8 banner-sec d-none d-sm-block">
    <ng-template ngbSlide>
      <img img-fluid src="../../../assets/img1.jpg" alt="Random first slide">
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img img-fluid src="../../../assets/img2.jpg" alt="Random second slide">
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img img-fluid src="../../../assets/img3.jpg" alt="Random third slide">
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
  </ngb-carousel>

</div>
