<div class="row">
  <H1 class="display-3 text-primary">Welcome to the Customer App</H1>
  <h3 class="display-4 text-secondary">This is just a simple Angular Application that is created within the following 5 courses</h3>
  <div class="col-12">
    <h2><span class="badge badge-pill badge-success">Course 1</span></h2>
    <h4> DotNetCore - Angular - Building Web Applications - Series 1 of 5 - C# Basics</h4>
    <iframe class="col-md-10" height="400" src="https://www.youtube.com/embed/videoseries?list=PL8jcXf-CLpxpN2bB-MJ1xm_TSWRsCpu_l" frameborder="0" gesture="media" allowfullscreen></iframe>
  </div>

  <div class="col-12">
    <h2><span class="badge badge-pill badge-success">Course 2</span></h2>
    <h4> DotNetCore - Angular - Building Web Applications - Series 2 of 5 - C# .NET Core - Software Architecture</h4>
    <iframe class="col-md-10" height="400" src="https://www.youtube.com/embed/videoseries?list=PL8jcXf-CLpxrVWNlN42J_ve_JJKuZMv61" frameborder="0" gesture="media" allowfullscreen></iframe>
  </div>

  <div class="col-12">
    <h2><span class="badge badge-pill badge-success">Course 3</span></h2>
    <h4> DotNetCore - Angular - Building Web Applications - Series 3 of 5 - C# .NET Core - Building a Rest API</h4>
    <iframe class="col-md-10" height="400" src="https://www.youtube.com/embed/videoseries?list=PL8jcXf-CLpxqNy7VsWPoZmigZZ6E6WKri" frameborder="0" gesture="media" allowfullscreen></iframe>
  </div>

  <div class="col-12">
    <h2><span class="badge badge-pill badge-success">Course 4</span></h2>
    <h4> DotNetCore - Angular - Building Web Applications - Series 4 of 5 - Angular 4+ - Building the Client</h4>
    <iframe class="col-md-10" height="400" src="https://www.youtube.com/embed/videoseries?list=PL8jcXf-CLpxpVgGzlbFkNibX4o_-QJwPG" frameborder="0" gesture="media" allowfullscreen></iframe>
  </div>

  <div class="col-12">
    <h2><span class="badge badge-pill badge-success">Course 5 - Work in progress!!!</span></h2>
    <h4>DotNetCore - Angular - Building Web Applications - Series 5 of 5 - Angular 4+ - Security, Testing and more Madness</h4>
    <iframe class="col-md-10" height="400" src="https://www.youtube.com/playlist?list=PL8jcXf-CLpxp3y8gkaAU-1H54GR0XE6rf" frameborder="0" gesture="media" allowfullscreen></iframe>
  </div>
</div>


<div class="row">
  <div class="col-md-12" style="display: inline-block; text-align: center;">
    <h2 class="navbar-text" >Hi all How are youu dooiinn</h2>
    <button class="btn btn-outline-danger" style="display: inline-block;
      float: right">Cllliickkk d dajsj dasjjads j </button>

  </div>
</div>
